name: Network test

on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        description: 'Network to test'
        # Default value if no value is explicitly provided
        default: 'neuro'
        # Input has to be provided for the workflow to run
        required: true
  push:
    branches:
      - CI_network

jobs:
  neorep:
    runs-on: ubuntu-latest
    # Uses our custom docker with r-base and miic dependencies https://hub.docker.com/repository/docker/miicteam/r-miic
    container: miicteam/r-miic
    steps:
      - uses: actions/checkout@v1
      - name: miic installation
        run: R CMD INSTALL .
      - name: Network test
        #run: cd tests/networks/${{ github.event.inputs.name }}
        run: |
          cd /tests/networks/neuro
          Rscript test.R > /dev/null
